@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');

*
{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}

.akcardcontainer
{
    position: relative;
    width:1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
}

.akcardcontainer .akcard 
{
    position: relative;
    max-width:300px;
    height: 250px;
    background: #fff;
    margin: 30px 5px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.akcardcontainer .akcard:hover
{
   height:400px;
}
.akcardcontainer .akcard .akimgBx
{
   position: relative;
   left:20px;
   top:-60px;
   width:260px;
   height:230px;
   z-index: 1;
   box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.akcardcontainer .akcard .akimgBx img
{
   max-width:100%;
   border-radius: 4px;  
 
}
.akcardcontainer .akcard .akcardcontent
{
  position: relative;
  margin-top: -140px;
  padding:10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;   
}

.akcardcontainer .akcard:hover .akcardcontent
{
    visibility: visible;
    opacity: 1;
    margin-top: -20px;
    transition-delay: 0.3s;
   
}



.socialcard a
{
    color: #000;
    margin:20px 10px;
}

@media screen and (max-width:320px)
{
    .akcardcontainer .akcard .akimgBx img {
        max-width: 80%;
        border-radius: 4px;
        max-height: 80%;
    }

    .akcardcontainer .akcard .akimgBx {
       
        left: 30px;
        
    }
}
